
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id_piloto</th>
        <th scope="col">Airolinea</th>
        <th scope="col">Status</th>
    
        
        
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let con of conductor">
        <th scope="row">{{ con.id }}</th>
        <td>{{ con.id_piloto }}</td>
        <td>{{ con.Airolinea }}</td>
        <td>{{ con.status }}</td>
      
        <!-- <td>
          <button *ngIf="con.status == 0" type="button" class="btn btn-success btn-sm" (click)="activarConductor(con.id)">Activar</button>
          <button  *ngIf="con.status === 1" type="button" class="btn btn-danger btn-sm" (click)="borrarConductor(con.id)">Eliminar</button>
        </td> -->
        <td><a [routerLink]="['/editaravion', con.id]" class="btn btn-success btn-sm">Editar</a></td>

      </tr>
  
      
    
    </tbody>
  </table>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </head>
  
