<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="enviado">

  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    Un ejemplo de alerta success con un icono
  </div>

</div>

<div class="row">
  <div class="col-4 offset-md-4 rounded text-dark bg-light">
    <h1 class="text-center">Registrarse <i class="bi bi-person-fill-up"></i></h1>
    <form [formGroup]="form" (ngSubmit)="registrarUsuario()">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" formControlName="name">

        <div class="alert alert-danger" role="alert" [hidden]="name.valid ||name.pristine">
          <span *ngIf="name.errors?.['required']">Nombre obligatorio.</span>
          <span *ngIf="name.errors?.['minlength']">Debe tener minimo 3 Letras</span>
        </div>

      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" formControlName="email" required>

        
        <div class="alert alert-danger" role="alert" [hidden]="email.valid ||email.pristine">
          <span *ngIf="email.errors?.['required']">correo necesario</span>
          <span *ngIf="email.errors?.['email']">EL correo es invalido necesita @</span>
        </div>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" class="form-control" formControlName="telefono">



        <div class="alert alert-danger" role="alert" [hidden]="telefono.valid ||telefono.pristine">
          <span *ngIf="telefono.errors?.['required']">Telefono Requerdio</span>
          <span *ngIf="telefono.errors?.['minlength']">Debe tener minimo 10 Digitos</span>
          <span *ngIf="telefono.errors?.['maxlength']">Debe tener maximo 10 Digitos</span>
          <span *ngIf="telefono.errors?.['pattern']">Caracter invalido</span>
        
        </div>

      
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" formControlName="password" >
        <div class="alert alert-danger" role="alert" [hidden]="password.valid ||password.pristine">
          <span *ngIf="password.errors?.['required']">contraseña Requerdio</span>
          <span *ngIf="password.errors?.['minlength']">Debe tener minimo 8 Digitos</span>
        </div>
       
      </div>
      <div class="form-group">
        <label for="confirmacion">Confirmar contraseña:</label>
        <input type="password" class="form-control" formControlName="confirmacion" name="confirmacion">
        <div class="alert alert-danger" role="alert" *ngIf="confirmacion.invalid && (confirmacion.dirty || confirmacion.touched)">
          
          <span *ngIf="confirmacion.errors?.['match']">Las contraseñas no coinciden</span>
        </div>
      </div>
      
      <br>
      <br>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
      <div class="text-center">
        <p>o registrarse con:</p>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="bi bi-facebook"></i>
        </button>
       

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="bi bi-google"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="bi bi-twitter"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="bi bi-github"></i>       
        </button>
        <br><br>
      </div>
      </div>
    </form>

  </div>
</div>
