/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'node_modules/tailwindcss/components.css';
@import 'node_modules/tailwindcss/base.css';
@import 'node_modules/tailwindcss/utilities.css';
body {
    background-image: url("https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  


  



